# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
lib/
build/
*.backup

# Testing
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# npm
.npm/
.npmrc

# TypeScript
*.tsbuildinfo
